<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProFTPD Main Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css” />
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='manage-user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='create-user.css') }}">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap5.min.css">
    
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <!-- custom cript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>
<body>
  <!--generic / default nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;" aria-label="Main navigation">
      <a href="{{ url_for('home') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='img/trax logo.jpg') }}" width="120" height="30" alt="Trax Tech Logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a href="{{ url_for('home') }}" class="nav-item nav-link me-3 {% if request.endpoint == 'home' %}active{% endif %}">Home</a>
          {% if session.get('user_type') == 'admin' %}
              <a class="nav-item nav-link me-3 {% if request.endpoint == 'manage_user' %}active{% endif %}">Manage Users</a>
              <a href="{{ url_for('create_user') }}" class="nav-item nav-link me-3 {% if request.endpoint == 'create_user' %}active{% endif %}">Create User</a>
              <a href="{{ url_for('create_profile') }}" class="nav-item nav-link me-3 {% if request.endpoint == 'create_profile' %}active{% endif %}">Create Profiles</a>
              <a href="{{ url_for('manage_profiles') }}" class="nav-item nav-link me-3 {% if request.endpoint == 'manage_profiles' %}active{% endif %}">Manage Profiles</a>
              <a href="{{ url_for('admin_logs') }}" class="nav-item nav-link me-3 {% if request.endpoint == 'admin_logs' %}active{% endif %}">Admin Logs</a>          {% endif %}
      </div>
      </div>

      <!-- for logout button -->
      <nav class="navbar navbar-light" style="background-color: white;" aria-label="Secondary navigation">
        <form class="form-inline">
          <button class="btn btn-outline-danger" type="button" style="margin-right: 20px" onclick="logout()">Logout</button>
        </form>
      </nav>
    </nav>

    <!-- Main Content Area -->
    <section id="content" class="content-section">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>
</body>
</html>