.content-section{
    margin: 30px;
}

.btn-primary {
    background-color: #67b4ac;
    border: none;
}

.btn-primary:hover {
    background-color: #5da39c;
}

#content.loading {
    position: relative;
}

#content.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.table-responsive {
    transition: all 0.3s ease;
}
