<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component for Home</title>
</head>
<body>

    <div class="card-container d-flex justify-content-between">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <img src="static/img/eye-svgrepo-com.svg" alt="Active Card Icon" style="width: 30px; height: 30px;">
                <h5 id="active-users" class="card-title">0</h5>
                <p class="card-text">Active Users</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <img src="static/img/eye-slash-svgrepo-com.svg" alt="Inactive Card Icon" style="width: 30px; height: 30px;">
                <h5 id="inactive-users" class="card-title">0</h5>
                <p class="card-text">Inactive Users</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <img src="static/img/error-16-svgrepo-com.svg" alt="Disabled Card Icon" style="width: 30px; height: 30px;">
                <h5 id="disabled-users" class="card-title">0</h5>
                <p class="card-text">Disabled Users</p>
            </div>
        </div>
    </div>
</body>
</html>
