<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table Component</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between mt-4">
        <a class="navbar-brand ms-3">List of Users</a>
        <form class="form-inline d-flex align-items-center" method="GET">
            <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', '') }}">
            <input type="hidden" name="filter_by" value="{{ request.args.get('filter_by', '') }}">
            
            <div class="dropdown me-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by: {{ request.args.get('sort_by', 'ID') | title }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('sort_by', 'username')">Username</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('sort_by', 'id')">ID</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('sort_by', 'directory')">Directory</a></li>
                </ul>
            </div>
    
            <div class="dropdown me-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by: {{ request.args.get('filter_by', 'All') | title }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('filter_by', 'active')">Active</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('filter_by', 'inactive')">Inactive/Disabled</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateURLParams('filter_by', 'all')">All</a></li>
                </ul>
            </div>
    
            <input class="form-control mr-sm-5" type="search" placeholder="Enter username" aria-label="Search" name="search" value="{{ request.args.get('search', '') }}">
            <button class="btn btn-outline-success ms-2 me-3 my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>


    <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Directory</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                <tr onclick=window.location.href="{{ url_for('manage_user', user_id=user.id) }}" style="cursor: pointer;">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.directory }}</td>
                    <td>{{ user.computed_status }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No users found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
